
<br>
<div class="container">
  <h2>New Movie</h2><br>
  <div class="row">
    <%= render 'form', homepg: @homepg %>
  </div>
  <div style="padding-left: 74px">
    <%= link_to 'Back', homepgs_path,class:"btn btn-outline-primary",style:"font-size: 12px;"  %>
  </div>
</div>
